// Global type styles
	ul{
		li{
			font-family:$mainFont;
		}
	}
	p, p a{
		font-family:$mainFont;
	}

	a.button{
		@include inline-block;
		border:1px solid $green;
		padding:10px 15px;
		text-align:center;
		@include roboto(12px, $black);
		text-decoration:none;
		text-transform:uppercase;
		margin-bottom:5px;
		@include transition(all 300ms);
		position:relative;
		overflow:hidden;
		z-index:1;
		&:hover{
			background:$green;
			color:$white;
		}
	}

	img{
		width:100%;
		display:block;
	}

// Titles

	.sectionTitle{
		@include roboto(30px, $darkGreen);
		text-align:center;
		&.xl{
			font-size:40px;
		}
	}
	.separate{
		display:block;
		border:0px;
		background:$darkGreen;
		@include border-radius(999px);
		margin:10px auto 30px auto;
		&.xs{
			width:5px;
			height:5px;
		}
		&.xl{
			width:10px;
			height:10px;
		}
	}

// Intro copy
	.intro{
		text-align:center;
		p{
			@include roboto(16px, $black);
			margin-bottom:20px;
			line-height:25px;
			&:last-child{
				margin-bottom:0px;
			}
			a{
				color:$darkGreen;
				text-decoration: none;
				border-bottom:1px dashed $green;
				@include transition(all 300ms);
				&:hover, &:active{
					color:$black;
					border-bottom:1px solid $black;
				}
			}
		}
		&.white{
			p{
				color:$white;
				a{
					&:hover{
						color:$white;
						border-bottom:1px solid $white;
					}
				}
			}
			.button{
				color:$white;
			}
		}
		&.xs{
			text-align:right;
			display:block;
			position:relative;
			@include inline-block;
			margin-bottom:20px;
			h2{
				@include roboto(23px, $green);
			}
			p{
				@include roboto(16px, $black);
			}
			.centerPiece{
				@include inline-block;
				padding-right:90px;
				line-height:1;
			}
			.plus{
				width:70px;
				height:70px;
				text-align:center;
				line-height:70px;
				font-size:20px;
				font-family: 'icomoon';
				color:$white;
				background:$paleGreen;
				@include border-radius(999px);
				position:absolute;
				top:50%;
				right:0px;
				margin-top:-35px;
			}
		}
		&.xl{
			text-align:left;
			display:block;
			position:relative;
			@include inline-block;
			margin-bottom:20px;
			h2{
				@include roboto(23px, $green);
			}
			p{
				@include roboto(16px, $black);
			}
			.centerPiece{
				@include inline-block;
				padding-right:90px;
				padding-left:150px;
				line-height:1;
			}
			.plus{
				width:120px;
				height:120px;
				text-align:center;
				line-height:120px;
				font-size:60px;
				font-family: 'icomoon';
				color:$white;
				background:$paleGreen;
				@include border-radius(999px);
				position:absolute;
				top:50%;
				left:15px;
				margin-top:-60px;
			}
		}
	}

// Archive list
	.archiveList{
		margin:0px;
		li{
			@include inline-block;
			padding:0 15px;
			border-right:1px solid $green;
			line-height:25px;
			margin-bottom:5px;
			&:last-child{
				border-right:0px;
			}
			a{
				@include roboto(16px, $white);
				border-bottom:1px dashed $white;
				text-decoration:none;
				@include transition(all 300ms);
				&:hover{
					border-bottom:1px solid $green;
					color:$green;
				}
			}
		}
	}

