.row{
	width:100%;
	max-width:1200px;
	position:relative;
	@include clearfix();
	margin:0 auto;
	z-index:-1;
}

.rowFluid{
	width:100%;
	@include clearfix;
}

.columns{
	float:left;
	display:block;
	padding:0 10px;
	height:120px;
	background:$black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	@for $i from 1 through 12{
		&.small-#{$i}{
			width:(100%/12) * $i;	
		}
	}

	@for $i from 1 through 12{
		&.medium-#{$i}{
			width:(100%/12) * $i;	
		}
	}

	@for $i from 1 through 12{
		&.large-#{$i}{
			width:(100%/12) * $i;	
		}
	}


	@media all and (max-width: 780px){
		&[class^=large-]{
			width:100%;
		}
		@for $i from 1 through 12{
			&.small-#{$i}{
				width:(100%/12) * $i;	
			}
		}

		@for $i from 1 through 12{
			&.medium-#{$i}{
				width:(100%/12) * $i;	
			}
		}

	}
	@media all and (max-width: 550px){
		&[class^=large-]{
			width:100%;
		}

		&[class^=medium-]{
			width:100%;
		}
		@for $i from 1 through 12{
			&.small-#{$i}{
				width:(100%/12) * $i;	
			}
		}

	}
}