---
title: Benoit Rajalu - Développeur front-end à Nantes / Rennes / Laval
description: Développement front-end et intégration web en freelance. J'apprécie surtout les sites responsive, mais je suis à votre écoute quel que soit le projet. Je me déplace facilement à Nantes, Rennes, Laval et Paris.
---

<div class="rowFluid backstretch main paleGreen" >
	<%= image_tag 'testImage.jpg', :alt => "backstretch", :class => 'source' %>
	<div class="titleDisc xl">
		<hgroup class="contents">
			<h1>404</h1>
			<h2>Oopsie</h2>
		</hgroup>
	</div>
</div>

<div class="row pad70">
	<div class="large-8 columns centered">
		<article class="intro">
			<h2 class="sectionTitle xl">La page que vous cherchez n'existe pas !</h2>
			<hr class="separate xl"/>
			<p>Tout ce que je peux vous proposer est sur le menu principal...</p>
		</article>
	</div>
</div>


