---
title: Benoit Rajalu - Développeur front-end freelance disponible sur Nantes / Rennes / Laval et le web, donc.
description: Sous mes airs pas très avenants, je suis quand même allé à l'école et j'ai même des compétences. Curieux ?
---

<div class="rowFluid backstretch secondary paleGreen">
	<%= image_tag 'me.jpg', :alt => "backstretch", :class => 'source' %>
	<div class="titleDisc ml">
		<hgroup class="contents">
			<h1>À propos</h1>
			<h2>Qui quoi quand où?</h2>
		</hgroup>
	</div>
</div>

<div class="row">
	<article class="copy cf">
		<div class="large-4 columns">
				<h2>C'est qui, <br/>Benoit Rajalu ?</h2>
				<h3 class="title xs">Pressé?</h3>
				<%= link_to 'Téléchargez le CV', 'CV-BenoitRajalu-DevFrontEnd.pdf', :class => 'button mb40', :target => '_blank' %>
		</div>
		<div class="large-8 columns">
				<h3>Boulot</h3>
				<p>Je suis un développeur front-end junior, avec une passion pour l'UI/UX et le responsive webdesign. Mes outils sont la combinaison HTML5/CSS3/jQuery, aidés au moins de Compass voire de Middleman. J'aime travailler dans des environnements agiles, même sans justaucorps moulant. Je suis à l'affût des opportunités qui sauront mettre à profit ma motivation dans un environnement technique ambitieux, où écouter du Blues et du Rock 70s n'est pas un tabou et où personne ne rechigne face à un cookie au beurre demi-sel.</p>
				<h3>Pas boulot</h3>
				<p>J'ai déjà trahi mes préférences musicales et partiellement salées, mais je serai ravi d'étayer ! J'ai longtemps été tenté par une carrière de journaliste musical, parce que mes tentatives de devenir une Rock Star se sont arrêtées après quelques arpèges de Pink Floyd. Mon plan B c'est de devenir pâtissier, si tout le reste échoue. Sinon, j'aime la photographie et les films de Wes Anderson. Je fais semblant de collectionner les montres et mes potes trouvent que je suis un Geek civilisé.</p>
		</div>
	</article>
</div>

<div class="rowFluid gray">
	<div class="row">
		<h2 class="sectionTitle">Compétences</h2>
		<hr class="separate xs" />
		<div class="medium-4 columns">
			<article class="skillBox">
				<h2 class="title"><span>Code</span></h2>
				<ul>
					<li>HTML5 / TWIG</li>
					<li>CSS3 / SASS</li>
					<li>jQuery / JS</li>
					<li>Middleman / Compass</li>
				</ul>
			</article>
		</div>

		<div class="medium-4 columns">
			<article class="skillBox">
				<h2 class="title"><span>Design</span></h2>
				<ul>
					<li>Suite Adobe</li>
					<li>Wireframing</li>
					<li>Responsive webdesign</li>
					<li>Déclinaisons</li>
				</ul>
			</article>
		</div>

		<div class="medium-4 columns">
			<article class="skillBox">
				<h2 class="title"><span>Divers</span></h2>
				<ul>
					<li>Méthode Agile</li>
					<li>Rédaction web, print</li>
					<li>Traduction (EN / FR)</li>
					<li>Design d'intéraction</li>
				</ul>
			</article>
		</div>
	</div>
</div>


<div class="rowFluid">
	<div class="row table-large">
		<div class="large-5 columns">
			<article class="copy mobileFeature">
				<h2 class="title xxl">Expériences</h2>
				<p>Petite liste de ceux pour qui j'ai travaillé, peu importe la tâche, le contrat ou le contexte, tant que le résultat est bon !</p>
			</article>
		</div>
		<div class="large-7 columns">
			<ul class="archiveList black">
				<li><a href="http://www.intuiti.net" target="_blank">Intuiti</a></li>
				<li><a href="http://www.gladys.com" target="_blank">Gladys</a></li>
				<li><a href="http://www.buroscope.fr" target="_blank">Buroscope</a></li>
				<li><a href="http://www.sppederlan.eu" target="_blank">SIII</a></li>
				<li><a href="http://www.uncut.co.uk" target="_blank">Uncut Magazine</a></li>
				<li><a href="http://observer.theguardian.com/" target="_blank">The Observer</a></li>
				<li><a href="http://www.artslondonnews.co.uk/search?q=Benoit+Rajalu" target="_blank">Arts London News</a></li>
				<li><a href="http://www.henrimichel.fr" target="_blank">Henri Michel</a></li>
				<li><a href="http://www.optmiis.fr" target="_blank">Optimiis</a></li>
				<li><a href="http://www.les-entrepreneuriales.fr/" target="_blank">Les entrepreneuriales</a></li>
				<li><a href="http://www.mktlines.com/" target="_blank">MKT Lines</a></li>
			</ul>
		</div>
	</div>
</div>


<div class="rowFluid black">
	<h2 class="sectionTitle">Formation, loisirs etc ? </h2>
	<hr class="separate xs" />
	<div class="medium-6 columns centered">
		<%= link_to 'Téléchargez mon CV en .pdf', 'CV-BenoitRajalu-DevFrontEnd.pdf', :class => 'button white xl centered', :target => '_blank' %>
	</div>
</div>