---
title: Benoit Rajalu - Développement front-end freelance. UI/UX, Webdesign et code !
description: UI/UX, Webdesign et code dans la même maison. Consultez le "catalogue" et faites-moi part de votre projet
---

<div class="rowFluid backstretch secondary">
	<%= image_tag 'serviceBG.jpg', :alt => "backstretch", :class => 'source' %>
	<div class="titleDisc ml">
		<hgroup class="contents">
			<h1>Services</h1>
			<h2>UI/UX | Webdesign | Code</h2>
		</hgroup>
	</div>
</div>

<div class="rowFluid pad40">
	<div class="row table-large">
		<div class="large-7 columns">
			<article class="copy rightPad60">
				<h2><span class="dot">UI | UX</span></h2>
				<h3>Connaître l’utilisateur</h3>

				<p>Un beau site, c’est chouette. Un beau site qui répond à vos besoins, c’est même le minimum, non ? Mais la chose ne sert à rien si l’utilisateur ne s’y retrouve pas. L’UX, c’est l’ensemble des stratégies que nous allons entreprendre ensemble, en connaissance de votre métier et des habitudes de vos clients, pour assurer à l’utilisateur l’éxperience qu’il lui faut.</p>

				<h3>L’éxpérience qui marque</h3>

				<p>Donner à votre visiteur ce qu’il attend est une chose, mais rendre la chose agréable et marquante en est une autre. Une bonne UX est une UX qui, bien que basée sur l’empirique, sait générer de l’émotion.Je travaille donc sur les animations, le ton, et l’environnement graphique à donner à votre site pour parvenir à ces objectifs. A ce stade, les maquettes fonctionnelles (wireframes) seront proposées.</p>

				<p class="green">Livrables : Benchmarking, storyboards, wireframes</p>
			</article>
		</div>
		<div class="large-5 columns backstretch service" data-source='img/UX.jpg'>
			
		</div>
	</div>
</div>

<div class="rowFluid pad40">
	<div class="row table-large">
		<div class="large-7 large-push-5 columns">
			<article class="copy leftPad60">
				<h2><span class="dot">Design</span></h2>
				<h3>Forme et fonction</h3>

				<p>Un bon webdesign se  résume pour moi à une notion simple : le design doit, par la forme, faciliter l’accès à la fonction. Mon rôle est de prendre cette recette à coeur afin de vous proposer un produit crédible, réalisé en collaboration avec vous afin de finalement  construire un site à la fois beau et intelligent. Le rêve.</p>

				<h3>L’air du temps...et de demain</h3>

				<p>Toute la saveur d’un bon design repose sur son équilibre entre les modes actuelles, l’anticipation des modes à venir et les préférences esthétiques du client, de l’utilisateur et du designer. Ce n’est pas chose aisée, mais c’est ce qui riend la chose plaisante ! Nous arriverons à trouver le bon équilibre au travers de diverses propositions et discutions afin d’obtenir le résultat qui contentera tout le monde.

				<p class="green">Livrables : Moodboards, maquettes, déclinaisons</p>
			</article>
		</div>
		<div class="large-5 large-pull-7 columns backstretch service" data-source='img/webdesign.jpg'>
			
		</div>
	</div>
</div>

<div class="rowFluid pad40">
	<div class="row table-large">
		<div class="large-7 columns">
			<article class="copy rightPad60">
				<h2><span class="dot">Développement front-end</span></h2>
				<h3>Tout beau, partout</h3>

				<p>Votre site web n’est pas un caprice. Vous n’êtes pas là pour être branché et dire “ça y est, j’ai le mien”. Votre nouvel outil doit être fonctinnel partout où la cible que vous visez est succeptible d’en avoir besoin. De mon coté, ces nécessités se traduisent par un code HTML5 / CSS3 compatible avec IE8+ et un responsive webdesign irréprochable sur tous les appareils mobiles. Rien de moins ! Coté méthode, j’utilise Compass et je versionne sous git via github.</p>

				<h3>Code et créativité</h3>

				<p>Le développement n’est pas juste une affaire de règles à respecter. L’enrichissement des diverses interactions au travers de jQuery ou d’animation CSS3 apporte à la fois un aspect ludique au site et une réelle plus value créative à l’ensemble du produit. Allier le code et la créativité sera un réel avantage face à vos utilisateurs.</p> 

				<p class="green">Livrables : Site statique responsive compatibles IE8+ (HTML5 / CSS3 / jQuery)</p>
			</article>
		</div>
		<div class="large-5 columns backstretch service" data-source='img/front.jpg'>
			
		</div>
	</div>
</div>


<div class="rowFluid black">
	<div class="row">
		<div class="large-8 columns centered">
			<article class="intro white">
				<h2 class="sectionTitle">Ça vous tente ?</h2>
				<hr class="separate xs"/>
				<p>Parlez-moi de votre projet et de vos besoins, je vous répondrai le plus vite possible. Si vous avez la moindre question, n’hésitez pas !</p>
				<a href="#" class="button offTrigger" data-target="#contactBar">Contactez-moi</a>
			</article>
		</div>
	</div>
</div>